.login {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 500px;
  padding: 20px;
  height: fit-content;
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.login-form label {
  font-size: var(--small-font-size);
  color: var(--title-color);
  margin-left: 2px;
}

.login-form input {
  margin-top: 2px;
  padding-left: 10px;
  margin-bottom: 10px;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.login-form input:focus {
  outline-style: none;
  background-color: var(--body-color);
  transform: scale(1.02);
}

.login-form span {
  font-size: var(--small-font-size);
}

.login-form a {
  text-decoration: underline;
  font-weight: var(--font-medium);
}

.forget-password {
  color: var(--title-color);
  font-size: var(--tiny-font-size);
  text-align: center;
  cursor: pointer;
}

.login-button {
  align-self: center;
  width: 150px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  color: red;
  font-size: 0.25rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form .link {
  color: teal;
  cursor: pointer;
}
