.header {
  margin: var(--mb-0-5) 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  padding: 2rem 3rem;
  position: sticky;
  top: auto;
  background: url("../../asset/header.jpg");
}

.header-content {
  max-width: 40rem;
  margin-left: 1.2rem;
}

.header-content h1 {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 5px;
}

.header-content p {
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 10px;
}

.header-content span {
  color: teal;
  font-weight: bold;
  cursor: pointer;
}
